.section{
    background-color: aqua;
    border: 3px solid red;
}

p{
    background-color: antiquewhite;
    border: 3px dotted violet;
    font-size: 1.0em;
    font-family: sans-serif;
    padding: 30px;
    padding-left: 10px; /*Espaçamento direito*/
    padding-top: 30px; /*Espaçamento superior*/
    border-radius: 400px;
}

.altera{
    background-color: 
    #1717da;
}